services:
  web:
    build:
      context: .
      target: runner
    command: npm start
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
